{% extends 'base.html' %}
{% load static %}

{% block title %}Create Snippet{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'codemirror/lib/codemirror.css'%}">
        <script src="{% static 'codemirror/lib/codemirror.js'%}"></script>
        <script src="{% static 'codemirror/addon/mode/loadmode.js'%}"></script>
        <script src="{% static 'codemirror/mode/meta.js'%}"></script>
        <script src="{% static 'codemirror/mode/python/python.js'%}"></script>
        <script>
            mode_url = "{% static 'codemirror/mode/' %}";
        </script>
{% endblock %}
{% block content %}
  <h2>Login</h2>
  <form method="post" id="create-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" id="submit" disabled>Create</button>
  </form>
  <script src="{% static 'js/snippet.js' %}"></script>
  <script src="{% static 'js/snippet_common.js' %}"></script>
{% endblock %}